.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.list {
  margin: 0;
  padding: 15px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.item-links {
  display: inline-block;
  text-decoration: none;
}

.link {
  padding: 10px 5px;
  color: #021915;
  text-decoration: none;
}

.action-click {
  font-weight: 900;
}

.link:hover {
  background-color: #fff;
  transform: scale(1.05);
}

.search-form {
  padding: 15px;
  border-radius: 2px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.fixed-form {
  z-index: 1000;
  background-color: #11ac90;
  justify-content: space-between;
  display: flex;
  position: fixed;
  top: 0;
  width: 1158px;
}

.input {
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 40px;
  justify-content: center;
  padding-left: 16px;
  border: 1px solid #175f52;
  border-radius: 4px;
  color: #021915;
}

.button {
  color: #f2faf8;
  background-color: #175f52;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
  border-radius: 4px;
  padding: 11px 24px;
}

.gallery {
  display: flex;
  column-gap: 10px;
  row-gap: 10px;
  flex-wrap: wrap;
  margin: 100px 0 50px 0;
  justify-content: center;
}

a {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  text-decoration: none;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

a:hover {
  transform: scale(1.05);
}

.info {
  display: flex;
  gap: 10px;
  justify-content: center;

  letter-spacing: -0.01em;
  font-size: 10;
  color: #021915;
}

.gallery_link {
  height: 250px;
  width: calc((100% - 10px * 3) / 4);
}

.img-card {
  display: block;
  object-fit: cover;
  margin-bottom: 10px;
  width: 100%;
  border-radius: 4px 4px 0 0;
}

.is-hidden {
  display: none;
}

.load-more-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.load-more {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 50px;
  padding: 11px 24px;

  color: #f2faf8;
  background-color: #175f52;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
  border-radius: 4px;
}
